<% shopData = searchShopId(params[:id]) %>
<% if shopData %>
  <% if shopData["rest"].present? %>
    <% @shop.name = shopData["rest"]["name"]%>
    <% @shop.adress = shopData["rest"]["address"] %>
    <% @shop.station = shopData["rest"]["access"]["station"] %>
    <% @shop.prefecture = shopData["rest"]["code"]["prefname"] %>

    <% if shopData["rest"]["image_url"]["shop_image1"].present? %>
      <% @shop.photo = shopData["rest"]["image_url"]["shop_image1"] %>
    <% end %>
  <% end %>
<% end %>

<header>
  <%= link_to "戻る","/shops/", {:class => "createLeft"}  %>
  <p class="createCenter">新規作成</p>
</header>

<div class="create contents">
<% if shopData.blank? %>
    <%= form_tag(shops_search_path, method: "get") do  %>
    <p>
      <%= label :shop ,:prefecture, "県" %>
      <%
        area = getAreaCode
        if area["pref"].present?
          areaArray = area["pref"].map{|e| [e["pref_name"], e["pref_code"]]}
        end
      %>
      <%= select_tag :prefecture, options_for_select(areaArray) %><br>
      <%= label :shop ,:name, "食事したお店" %>
      <%= text_field_tag(:name)%>

      <%= submit_tag "ぐるなびで検索する", {:class => "searchButton", :style =>"width: 50%; height:20px; padding:0;"}%>
    </p>
    <% end %>
<% end %>

<%= form_for @shop, html: {class: ''} do |form| %>

  <% if shopData %>
    <p>
      <%= label :shop ,:name, "食事したお店"%>
      <%= form.search_field(:name)%>
    </p>
    <!-- <p>
      <%= label :shop ,:target_at, "食事した日時"%>
      <%= form.datetime_select :target_at, :use_month_numbers => true,  :class => "date form-control"%>
    </p> -->
  <% end %>
  <p>
    <%= label :shop ,:target_at, "食事した日時"%>
    <%= form.datetime_select :target_at, :use_month_numbers => true,  :class => "date form-control"%>
  </p>
  <p>
     <%= label :shop ,:adress, "住所" %>
       <%= form.search_field(:adress)%>
  </p>
  <p>
     <%= label :shop ,:station, "最寄駅" %>
     <%= form.search_field(:station)%>
  </p>
  <p>
     写真<br>
     <% if shopData %>
     <% if shopData["rest"].present? %>
       <% if shopData["rest"]["image_url"]["shop_image1"].present? %>
         <% @shop.photo = shopData["rest"]["image_url"]["shop_image1"] %>
         <%= image_tag shopData["rest"]["image_url"]["shop_image1"], :class => "createImage" %>
         <%= form.hidden_field :photo, :value => @shop.photo %>
       <% else %>
         <img src="https://myoji-yurai.net/profileImages/noimage.png" class="createImage">
       <% end %>
     <% end %>
     <% end %>
  </p>
  <div class="evaluations">
    <div class="cost">
      <div class="evaluation">
        <h1>値段</h1>
        <table>
          <tr>
            <th></th><th></th><th></th><th></th>
          </tr>
          <tr>
            <td></td><td></td><td></td><td></td>
          </tr>
        </table>
       </div>
       <div class="radio02">
          <%= form.radio_button :cost, 1, {:class=> "radio02-input", :id =>"shop_cost_radio01-01"} %>
          <label for="shop_cost_radio01-01"></label>
          <%= form.radio_button :cost, 2, {:class=> "radio02-input", :id =>"shop_cost_radio01-02"} %>
          <label for="shop_cost_radio01-02"></label>
          <%= form.radio_button :cost, 3, {:class=> "radio02-input", :id =>"shop_cost_radio01-03"} %>
          <label for="shop_cost_radio01-03"></label>
          <%= form.radio_button :cost, 4, {:class=> "radio02-input", :id =>"shop_cost_radio01-04"} %>
          <label for="shop_cost_radio01-04"></label>
          <%= form.radio_button :cost, 5, {:class=> "radio02-input", :id =>"shop_cost_radio01-05"} %>
          <label for="shop_cost_radio01-05"></label>
       </div>
     </div>
     <div class="taste">
       <div class="evaluation">
         <h1>美味しさ</h1>
         <table>
           <tr>
             <th></th><th></th><th></th><th></th>
           </tr>
           <tr>
             <td></td><td></td><td></td><td></td>
           </tr>
         </table>
        </div>
        <div class="radio02">
          <%= form.radio_button :taste, 1, {:class=> "radio02-input", :id =>"shop_taste_radio02-01"} %>
          <label for="shop_taste_radio02-01"></label>
          <%= form.radio_button :taste, 2, {:class=> "radio02-input", :id =>"shop_taste_radio02-02"} %>
          <label for="shop_taste_radio02-02"></label>
          <%= form.radio_button :taste, 3, {:class=> "radio02-input", :id =>"shop_taste_radio02-03"} %>
          <label for="shop_taste_radio02-03"></label>
          <%= form.radio_button :taste, 4, {:class=> "radio02-input", :id =>"shop_taste_radio02-04"} %>
          <label for="shop_taste_radio02-04"></label>
          <%= form.radio_button :taste, 5, {:class=> "radio02-input", :id =>"shop_taste_radio02-05"} %>
          <label for="shop_taste_radio02-05"></label>
        </div>
      </div>
      <div class="mood">
        <div class="evaluation">
          <h1>雰囲気</h1>
          <table>
            <tr>
              <th></th><th></th><th></th><th></th>
            </tr>
            <tr>
              <td></td><td></td><td></td><td></td>
            </tr>
          </table>
         </div>
         <div class="radio02">
           <%= form.radio_button :mood, 1, {:class=> "radio02-input", :id =>"shop_mood_radio03-01"} %>
           <label for="shop_mood_radio03-01"></label>
           <%= form.radio_button :mood, 2, {:class=> "radio02-input", :id =>"shop_mood_radio03-02"} %>
           <label for="shop_mood_radio03-02"></label>
           <%= form.radio_button :mood, 3, {:class=> "radio02-input", :id =>"shop_mood_radio03-03"} %>
           <label for="shop_mood_radio03-03"></label>
           <%= form.radio_button :mood, 4, {:class=> "radio02-input", :id =>"shop_mood_radio03-04"} %>
           <label for="shop_mood_radio03-04"></label>
           <%= form.radio_button :mood, 5, {:class=> "radio02-input", :id =>"shop_mood_radio03-05"} %>
           <label for="shop_mood_radio03-05"></label>
         </div>
       </div>
   </div>
   <p>
     <%= label :shop ,:memo, "メモ" %>
     <!--textareaはどうやるか -->
     <%= form.search_field(:memo)%>
   </p>
   <%= form_tag("/shops/") do %>
     <input type="submit" value="保存" class="newCreateRight">
   <% end %>
 <%end%>
</div>
