<%= form_for @shop, html: {class: ''} do |form| %>
<header>
  <%= link_to "戻る","/shops/", {:class => "createLeft"}  %>
  <p class="createCenter">新規作成</p>
  <%= form.submit "保存", {:class => "createRight"}  %>
  <!-- どこ飛べばいい？ -->
</header>

<div class="create contents">
  <p>
    <%= label :shop ,:prefecture, "県" %>
    <%= form.search_field :prefecture, :placeholder => "東京都"%>
    <%= label :shop ,:name, "食事したお店" %>
    <%= form.search_field(:name)%>
  </p>
  <p>
    <%= label :shop ,:target_at, "食事した日時"%>
    <%= form.datetime_select :target_at, :use_month_numbers => true, :date_separator => "/", :class => "date form-control"%>

  </p>
  <p>
     <%= label :shop ,:adress, "住所" %>
       <%= form.search_field(:adress)%>
  </p>
  <p>
     <%= label :shop ,:station, "最寄駅" %>
     <%= form.search_field(:station)%>
  </p>
  <p>
     写真<br>
     <img src="https://imgfp.hotp.jp/IMGH/33/60/P030143360/P030143360_238.jpg" class="createImage">
  </p>
  <div class="evaluations">
    <div class="cost">
      <div class="evaluation">
        <h1>値段</h1>
        <table>
          <tr>
            <th></th><th></th><th></th><th></th>
          </tr>
          <tr>
            <td></td><td></td><td></td><td></td>
          </tr>
        </table>
       </div>
       <div class="radio02">
          <%= form.radio_button :cost, 1, {:class=> "radio02-input", :name=>"cost", :id =>"shop_cost_radio01-01"} %>
          <%= form.label :cost, "1", value: "radio01-01"  %>
          <%= form.radio_button :cost, 2, {:class=> "radio02-input", :name=>"cost", :id =>"shop_cost_radio01-02"} %>
          <%= form.label :cost, "2", value: "radio01-02"  %>
          <%= form.radio_button :cost, 3, {:class=> "radio02-input", :name=>"cost", :id =>"shop_cost_radio01-03"} %>
          <%= form.label :cost, "3", value: "radio01-03"  %>
          <%= form.radio_button :cost, 4, {:class=> "radio02-input", :name=>"cost", :id =>"shop_cost_radio01-04"} %>
          <%= form.label :cost, "4", value: "radio01-04"  %>
          <%= form.radio_button :cost, 5, {:class=> "radio02-input", :name=>"cost", :id =>"shop_cost_radio01-05"} %>
          <%= form.label :cost, "5", value: "radio01-05"  %>
       </div>
     </div>
     <div class="taste">
       <div class="evaluation">
         <h1>美味しさ</h1>
         <table>
           <tr>
             <th></th><th></th><th></th><th></th>
           </tr>
           <tr>
             <td></td><td></td><td></td><td></td>
           </tr>
         </table>
        </div>
        <div class="radio02">
          <%= form.radio_button :taste, 1, {:class=> "radio02-input", :name=>"taste", :id =>"shop_taste_radio02-01"} %>
          <%= form.label :taste, "1", value: "radio02-01"  %>
          <%= form.radio_button :taste, 2, {:class=> "radio02-input", :name=>"taste", :id =>"shop_taste_radio02-02"} %>
          <%= form.label :taste, "2", value: "radio02-02"  %>
          <%= form.radio_button :taste, 3, {:class=> "radio02-input", :name=>"taste", :id =>"shop_taste_radio02-03"} %>
          <%= form.label :taste, "3", value: "radio02-03"  %>
          <%= form.radio_button :taste, 4, {:class=> "radio02-input", :name=>"taste", :id =>"shop_taste_radio02-04"} %>
          <%= form.label :taste, "4", value: "radio02-04"  %>
          <%= form.radio_button :taste, 5, {:class=> "radio02-input", :name=>"taste", :id =>"shop_taste_radio02-05"} %>
          <%= form.label :taste, "5", value: "radio02-05"  %>
        </div>
      </div>
      <div class="mood">
        <div class="evaluation">
          <h1>雰囲気</h1>
          <table>
            <tr>
              <th></th><th></th><th></th><th></th>
            </tr>
            <tr>
              <td></td><td></td><td></td><td></td>
            </tr>
          </table>
         </div>
         <div class="radio02">
           <%= form.radio_button :mood, 1, {:class=> "radio02-input", :name=>"mood", :id =>"shop_mood_radio03-01"} %>
           <%= form.label :mood, "1", value: "radio03-01"  %>
           <%= form.radio_button :mood, 2, {:class=> "radio02-input", :name=>"mood", :id =>"shop_mood_radio03-02"} %>
           <%= form.label :mood, "2", value: "radio03-02"  %>
           <%= form.radio_button :mood, 3, {:class=> "radio02-input", :name=>"mood", :id =>"shop_mood_radio03-03"} %>
           <%= form.label :mood, "3", value: "radio03-03"  %>
           <%= form.radio_button :mood, 4, {:class=> "radio02-input", :name=>"mood", :id =>"shop_mood_radio03-04"} %>
           <%= form.label :mood, "4", value: "radio03-04"  %>
           <%= form.radio_button :mood, 5, {:class=> "radio02-input", :name=>"mood", :id =>"shop_mood_radio03-05"} %>
           <%= form.label :mood, "5", value: "radio03-05"  %>
         </div>
       </div>
   </div>
   <p>
     <%= label :shop ,:memo, "メモ" %>
     <!--textareaはどうやるか -->
     <%= form.search_field(:memo)%>
   </p>

 <%end%>
</div>
