
<header>
  <%= link_to "戻る","/shops/", {:class => "createLeft"}  %>
  <p class="createCenter">メモ詳細</p>
</header>

<div class="contents create show">
   <p><i class="fas fa-utensils fa-2x iColor"></i><%= @shop.name %></p>
   <p><i class="far fa-clock fa-2x iColor"></i><%= @shop.target_at.try(:strftime, "%Y年%m月%d日%H時%M分") %></p>

   <p><i class="fas fa-map-marker-alt fa-2x iColor"></i><%= @shop.adress %></p>
   <p><i class="fas fa-subway fa-2x iColor"></i><%= @shop.station %></p>
   <p><i class="fas fa-images fa-2x iColor"></i>
     <% if @shop.photo === nil %>
      <img src="https://myoji-yurai.net/profileImages/noimage.png" class="createImage">

     <% else %>
       <img src="<%= @shop.photo %>" class="createImage">
     <% end %>
   </p>
   <p>
    <i class="fas fa-dollar-sign fa-2x iColor"></i>
    <% if @shop.cost === nil %>
      <% (1..5).each do |n| %>
        <i class="far fa-star showI"></i>
      <% end %>
    <% else %>
      <% (0..(@shop.cost-1)).each do |n| %>
        <i class="fas fa-star showI"></i>
      <% end %>
      <% (0..(5-@shop.cost-1)).each do |n| %>
        <i class="far fa-star showI"></i>
      <% end %>
    <% end %>

   </p>
   <p>
     <i class="fab fa-delicious fa-2x iColor"></i>
     <% if @shop.taste === nil %>
       <% (1..5).each do |n| %>
         <i class="far fa-star showI"></i>
       <% end %>
     <% else %>
       <% (0..(@shop.taste-1)).each do |n| %>
         <i class="fas fa-star showI"></i>
       <% end %>
       <% (0..(5-@shop.taste-1)).each do |n| %>
         <i class="far fa-star showI"></i>
       <% end %>
     <% end %>
   </p>
   <p>
     <i class="fas fa-moon fa-2x iColor"></i>
     <% if @shop.mood === nil %>
       <% (1..5).each do |n| %>
         <i class="far fa-star showI"></i>
       <% end %>
     <% else %>
       <% (0..(@shop.mood-1)).each do |n| %>
         <i class="fas fa-star showI"></i>
       <% end %>
       <% (0..(5-@shop.mood-1)).each do |n| %>
         <i class="far fa-star showI"></i>
       <% end %>
     <% end %>
   </p>
   <p><i class="fas fa-pencil-alt fa-2x iColor"></i><%= @shop.memo %></p>
   <%= link_to("削除", "/shops/#{@shop.id}/destroy", {method:"post", class:"destroyDate"}) %>
 </div>
