<header>
  <%= link_to "戻る","/home/index", {:class => "createLeft"}  %>
  <p class="createCenter">ログイン</p>
</header>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'contents'}) do |f| %>
<div class="box">
  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード（６文字以上）" %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
</div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "ログインコードを記憶する" %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
