<!DOCTYPE html>
<html>
  <head>
    <title>MogutaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="<%=image_path("moguta.png")%>" />
  </head>

  <body>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav class="log">
     <% if user_signed_in? %>
       <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, html: {class: 'logout'} %>
     <% else %>
     <% end %>
     <div class="username">
       <% if user_signed_in? %>
           <%= current_user.username %>さん
       <% end %>
     </div>
   </nav>
  </body>
</html>
